#img-bg{
    background-image: url('https://cdn.mos.cms.futurecdn.net/ndikvQiVFSS6hSNc2nqUfF.jpg');

    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}